@page
@model Stories.Pages.Info.DisplayedNameModel
@{
}
<h3 class="header">Enter your pseudonym</h3>
<br />
Enter the name you want to be used in your articles - doesn't need to be your real name, but must be unique in the system
<br />
<br>
<span class="header">Don't worry, we will check it for you. </span>