@page
@model Stories.Pages.Info.LastNameModel
@{
}
<h3 class="header">Enter your lastname </h3>
<br />
Enter the family name.
<br />
<br>
<span class="header">Your real name is not displayed to other users, unless you change it in your security settings.</span>