@page
@model Stories.Pages.Info.PasswordModel
@{
}
<h3 class="header">Enter the password:</h3>
<br />
Password must contain:
<p class="header">
   <br />
   8 characters<br />
   1 digit<br />
   1 capital letter<br />
   Can't include the name
</p>