@page
@model Stories.Pages.Info.PhoneModel
@{
}
<h3 class="header">Enter your phone number</h3>
<br />
Enter your phone number in your <span class="header">national format.</span>
<br />
System will automatically remove zero at the beginning, if you include it.